<mat-card role="form">
    <p>The problem consists on finding all unique configurations of a set of normal chess pieces on a chess board with
        dimensions M×N where none of the pieces is in a position to take any of the others. The colour of the pieces
        doesn't matter, and there are no pawns among the pieces.</p>
    <mat-card-header>Enter the combination to solve</mat-card-header>
    <div class="container">
        <div class="row ml-1 px-1 border">
            <mat-form-field>
                <mat-label>Board dimensions</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option *ngFor="let board of boardList" [value]="board">{{board}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngFor="let piece of pieces; index as i" class="row-fluid">
                <div class="col-sm">
                    <mat-label> {{piece.label}}</mat-label>
                    <input matInput min="0" max="8" type="number" [(ngModel)]="pieces[i].npieces">
                </div>
            </div>
        </div>
        <div class="row ml-2 py-2">
            <button mat-flat-button color="primary" (click)="onSolve()" [disabled]="formDisabled">Solve</button>
        </div>
    </div>
</mat-card>
<mat-card>
    <mat-card-header>Results</mat-card-header>
    <div *ngIf="chessResult !== undefined" class="row ml-1 px-1 border">
        <table>
            <tr>
                <div class="row">
                    <p>{{chessResult.msg}}</p>
                </div>
            </tr>
            <tr>
                <app-chess-paginator [chessResult]="chessResult" [dimension]="dimension"></app-chess-paginator>
            </tr>
        </table>
    </div>
</mat-card>